@{
  Layout = "_Layout";
}

@model CuisineTracker.Models.Cuisine
@using CuisineTracker.Models

<h2>Cuisine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>

@if (@Model.Restaurants.Count == 0)
{
  <h3>No restaurants have been added to this Cuisine yet!</h3>
} 
else
{
  <h3>Restaurants:</h3>
  <ul>
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
      <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add a restaurant to this cuisine", "Create","Restaurants")</p>
<p>@Html.ActionLink("Edit This Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete This Cuisine", "Delete", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Back to the list", "Index")</p>