@{
  Layout = "_Layout";
}

@model CuisineTracker.Models.Cuisine

<h2>Edit</h2>

<h4>Edit this Cuisine: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CuisineId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>